.image{
    height: 40rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 1) ), url('https://plus.unsplash.com/premium_photo-1683140538884-07fb31428ca6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-size : cover;
    background-position: center;
    position: relative;
}

.logo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 6em;
}
.logoContainer{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(100%);
}
.sticky-navbar{
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #1777d7;
  }
.button{
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}
.buttonContainer{
    display: inline-block;
    width: 100%;
}