/* banner */
.image {
    height: 40rem;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url('../../../public/banner1.jpg');
    background-size: cover;
    position: relative;
    transition: background-image 1s ease;
    animation: changeBackground 30s infinite;
}
@keyframes changeBackground {
    0% {
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url('../../../public/banner1.jpg');
        background-size: cover;

    }
    11.11% {
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url('../../../public/banner2.jpg'); 
        background-size: cover;

    }
    22.22% {
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url('../../../public/banner3.jpg');
        background-size: cover;

    }
    33.33% {
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url('../../../public/banner4.jpg'); 
        background-position-y: center;
    }
    44.44% {
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url('../../../public/banner5.jpg'); 
        background-position: center;

    }
    55.55% {
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url('../../../public/banner6.jpg'); 
        background-position: center;

    }
    66.66% {
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url('../../../public/banner7.jpg');
    }
    77.77% {
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url('../../../public/banner8.jpg'); 
    }
    88.88% {
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url('../../../public/banner9.jpg');
    }
    100% {
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url('../../../public/banner1.jpg');
    }
}

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 6em;
}

.logoContainer {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(50%);
}

.buttonContainer button {
    margin: 0 10%;
    padding: 10px;
    border-radius: 60px;
    
}

.buttonContainer {
    display: inline-block;
    width: 100%;
}

/* Animation for sliding buttons */
.explore {
    position: relative;
    left: -180%; 
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    animation: slideInLeft 2s ease-out forwards;
}
.donate {
    position: relative;
    right: -180%; 
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    animation: slideInRight 2s ease-out forwards;
}

@keyframes slideInLeft {
    from {
        left: -180%; 
    }
    to {
        left: 0;
    }
}
@keyframes slideInRight {
    from {
        right: -180%; 
    }
    to {
        right: 0; 
    }
}

/* hover for all buttons*/
button:hover{
    transform: scale(1.2);
    background-color: rgb(123, 204, 204) !important;
    color: black !important;
}

/* navbar */
.sticky-navbar {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #1777d7;
    font-weight: 400;
}
.sticky-navbar a{
    color: whitesmoke;
    font-weight: 700;
    border: 2px solid transparent;
}
.sticky-navbar a:hover{
    border-color: white;
}

.name:hover{
    border-color: transparent !important;
}
