body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(89deg, #1e96fc 0%, #a2d6f9  100%);
}

button{
  cursor: pointer;
}

.particles {
  z-index: -1;
}
